<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Deposits Service</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Deposit Calculator">

<link href="./assets/css/styles.css" rel="stylesheet" media="screen">

<script type="text/javascript" src="./assets/common/jquery-2.1.1.js"></script>
<script type="text/javascript" src="./assets/common/json2.js"></script>
<script type="text/javascript" src="./assets/common/underscore.js"></script>

<script type="text/javascript" src="./assets/bootstrap/bootstrap-modal.js"></script>

<script type="text/javascript" src="./assets/marionette/backbone.js"></script>
<script type="text/javascript" src="./assets/marionette/backbone.marionette.js"></script>

<script type="text/javascript" src="./assets/js/app.js"></script>
<script type="text/javascript" src="./assets/js/app.profit_app.js"></script>
<script type="text/javascript" src="./assets/js/app.profit_app.deposit_list.js"></script>

<script type="text/template" id="deposit-template">
<td><%= bankCode %></td>
<td><%= name %></td>
</script>

<script type="text/template" id="deposit-list-template">
<thead>
	<tr>
		<th>Bank</th>
		<th>Deposit</th>
	</tr>
</thead>
<tbody>
</tbody>
</script>

<script type="text/template" id="deposit-detail-template">
<h1><%= name %></h1>
<h2><%= bankCode %></h2>
</script>

<script type="text/template" id="profit-layout">
<div id="search">
	Search: <input type="text" name="search" autocomplete="off" id="searchTerm" value="" />
</div>
<div id="results"></div>
</script>

</head>
<body>
	<div id="content"></div>
	<div id="modal"></div>
</body>

<!-- <div id="content">
	<h1>Deposit Service</h1>
	<span id="hey"></span>
	<div id="generator">
		<div id="data">
			<h2>Generator</h2>
			<div id="layer"></div>
		</div>
	</div>
	<div id="advertisement">
		<div id="adsense">
			<h2>Advertisement</h2>
		</div>
	</div>
	<div id="results">
		<div id="previewinner">
			<h2>Preview</h2>
			<div id="loader">
				<p>Text:</p>
				<ol>
					<li>Text 1</li>
					<li>Text 2<br>New line.
					</li>
					<li>Text 3</li>
				</ol>
				<p>Press "Generate it"</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul>
			<li>Code : <a href="#"></a></li>
			<li>Design : <a href="#"></a></li>
			<li>Generated data are totally free for use</li>
		</ul>
	</div>
</div> -->

</html>