body {
	background: #F3F1E8 url(../img/backgroud.png) repeat-x center top;
}

#search-panel {
	border-color: #f0ad4e;
}

#search-panel>.panel-heading {
	color: #fff;
	background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
}

#results-panel {
	border-color: #d9534f;
}

#results-panel>.panel-heading,#modal-panel>.panel-heading {
	color: #fff;
	background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
}

#ads-panel {
	background-color: #f3f1e8;
	border-color: #5cb85c;
}

#ads-panel>.panel-heading {
	color: #fff;
	background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
}

#news-panel iframe[id^='twitter-widget-'] {
	max-width: 100% !important;
	min-width: 200px !important;
	margin: 0 !important;
}

#modal-region .form-group,#modal-region .panel {
	margin-bottom: 0px;
}

#modal-panel .close {
	color: #fff;
	opacity: 1.0;
}

.page-header {
	border-bottom: 0px;
}

.progress {
	margin-bottom: 0;
}

.progress-bar-zero {
	background-image: linear-gradient(to bottom, #FFD2D2 0%, #FD9D9D 100%);
}

.bank-logo-16 {
	background: url(../img/bank-sprite-16.png) no-repeat;
	width: 16px;
	height: 16px;
}

.bank-logo-16.bapb {
	background-position: -48px 0;
}

.bank-logo-16.bgpb {
	background-position: -96px 0;
}

.bank-logo-16.bta {
	background-position: -32px -16px;
}

.bank-logo-16.hcb {
	background-position: 0 -32px;
}

.bank-logo-16.vtb {
	background-position: -16px -48px;
}