body {
	background: #F3F1E8 url(../img/backgroud.png) repeat-x center top;
}

#search-panel>.panel-heading {
	color: #fff;
	background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
}

#results-panel>.panel-heading {
	color: #fff;
	background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
}

#ads-panel>.panel-heading {
	color: #fff;
	background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
}

.page-header {
	border-bottom: 0px
}