<div class="modal-dialog">
	<div class="modal-content">
		<div id="modal-panel" class="panel panel-danger">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only"><%- Globalize.translate("depositDetails/closeButton") %></span>
				</button>
				<span class="panel-title"><%- Globalize.translate([ "depositNames", deposit.name ]) %></span>
			</div>
			<div class="panel-body">
				<p>
					<%- Globalize.translate("depositDetails/depositLinkText/part0") %><%- deposit.bank.displayName %><%-
					Globalize.translate("depositDetails/depositLinkText/part1") %><a href="<%- deposit.url %>" target="_blank"><%-
						Globalize.translate([ "depositNames", deposit.name ]) %></a><%- Globalize.translate("depositDetails/depositLinkText/part2") %>
				</p>
				<table class="table">
					<thead>
						<tr class="text-info">
							<th></th>
							<th><%- Globalize.translate("depositDetails/comparationTableHeaders/startAmount") %></th>
							<th><%- Globalize.translate("depositDetails/comparationTableHeaders/endAmount") %></th>
							<th><%- Globalize.translate("depositDetails/comparationTableHeaders/profit") %></th>
							<th><%- Globalize.translate("depositDetails/comparationTableHeaders/profitRate") %></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong class="text-info">BYR</strong></td>
							<td><%- Globalize.formatNumber(startAmount) %></td>
							<td><%- Globalize.formatNumber(endAmount) %></td>
							<td><%- Globalize.formatNumber(profit) %></td>
							<td><%- Globalize.formatFloat(profitRate, 2) %></td>
							<td></td>
						</tr>
						<tr>
							<td><strong class="text-info">USD <span class="text-danger">*</span>
							</strong></td>
							<td><%- Globalize.formatFloat(startAmountUsd, 1) %></td>
							<td><%- Globalize.formatFloat(endAmountUsd, 1) %></td>
							<td><%- Globalize.formatFloat(profitUsd, 1) %></td>
							<td><%- Globalize.formatFloat(profitRateUsd, 2) %></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<p>
					<strong><span class="text-danger">*</span></strong> <%- Globalize.translate("depositDetails/warningMessage/part0") %> <%-
					Globalize.formatIsoDate(endDate) %> <%- Globalize.translate("depositDetails/warningMessage/part1") %> <%-
					Globalize.formatNumber(endUsdExchangeRate) %> <%- Globalize.translate("depositDetails/warningMessage/part2") %>
				</p>
				<div id="account-statement-region"></div>
			</div>
		</div>
	</div>
</div>