<div class="modal-dialog">
	<div class="modal-content">
		<div id="modal-panel" class="panel panel-danger">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only">Закрыть</span>
				</button>
				<span class="panel-title"><%- deposit.name %></span>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr class="text-info">
							<th></th>
							<th>Начальная сумма</th>
							<th>Итоговая сумма</th>
							<th>Доход</th>
							<th>Доход, %</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong class="text-info">BYR</strong></td>
							<td><%- App.Globalize.formatNumber(startAmount) %></td>
							<td><%- App.Globalize.formatNumber(endAmount) %></td>
							<td><%- App.Globalize.formatNumber(profit) %></td>
							<td><%- App.Globalize.formatFloat(profitRate, 2) %></td>
							<td></td>
						</tr>
						<tr>
							<td><strong class="text-info">USD <span class="text-danger">*</span>
							</strong></td>
							<td><%- App.Globalize.formatFloat(startAmountUsd, 1) %></td>
							<td><%- App.Globalize.formatFloat(endAmountUsd, 1) %></td>
							<td><%- App.Globalize.formatFloat(profitUsd, 1) %></td>
							<td><%- App.Globalize.formatFloat(profitRateUsd, 2) %></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<p>
					<strong><span class="text-danger">*</span></strong> Расчет произведен с предположением, что что <%- App.Globalize.formatIsoDate(endDate) %> курс доллара составит
					<%- App.Globalize.formatNumber(endUsdExchangeRate) %> BYR/USD.
				</p>
				<div id="account-statement-region"></div>
			</div>
		</div>
	</div>
</div>