<div class="form-horizontal" role="form">
	<div class="form-group">
		<label for="amountText" class="col-md-2 control-label text-info">Amount</label>
		<div class="col-md-4">
			<input type="number" id="amountText" class="form-control" value="<%- amount %>" placeholder="Type here...">
		</div>
	</div>
	<div class="form-group">
		<label for="periodText" class="col-md-2 control-label text-info">Password</label>
		<div class="col-md-4">
			<input type="number" id="periodText" class="form-control" value="<%- period %>" placeholder="Period of days...">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-5">
			<button type="button" id="searchButton" class="btn btn-md btn-warning">Search</button>
		</div>
	</div>
</div>